*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.gradle
.idea
.DS_Store

*.iml
*.*~

/local.properties
/gradle.properties
/version.properties
/.idea/workspace.xml
/.idea/libraries
build
productions
